In [1]:
import pandas as pd
import mysql.connector

In [21]:
# Common function defenition
def connect_db():
    db_connection = mysql.connector.connect(
    host='146.56.43.43',
    user='ffbemaster',
    password='aksaksgo1!',
    database='ffbe')
    return db_connection
def fetch_data_from_db(sql):
    conn = connect_db()
    cursor = conn.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    cursor.close()
    conn.close()
    return res
def fetch_data_from_db_with_col_names(sql):
    conn = connect_db()
    cursor = conn.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    col_names = cursor.column_names
    cursor.close()
    conn.close()
    return res, col_names
def write_to_server(sql, values):
    conn = connect_db()
    cursor = conn.cursor()
    if type(values) != list:
        cursor.execute(sql, values)
    else:
        for i in range(len(values)):
            cursor.execute(sql, values[i])
    res = cursor.fetchall()
    cursor.close()
    conn.commit()
    conn.close()
    return res

In [12]:
sql_query = """SELECT * FROM char_list"""
data, col_names = fetch_data_from_db_with_col_names(sql_query)
chars = pd.DataFrame(data, columns=col_names)
chars.columns

Index(['seq', 'char_name', 'char_jp_name', 'char_trsl_name', 'char_g8_link',
       'char_img_src', 'char_eval', 'char_rarity', 'char_element',
       'char_element_img_src', 'char_main_job', 'char_main_job_class',
       'char_main_job_class_alias', 'char_sub_job1', 'char_sub_job2'],
      dtype='object')

In [13]:
def get_char_name(character):
    if character['char_name']:
        return character['char_name']
    if character['char_trsl_name']:
        return character['char_trsl_name']
    if character['char_jp_name']:
        return character['char_jp_name']
    else:
        return "NoName"

In [6]:
print(get_char_name(chars.iloc[2]))

박쥐

In [ ]:
selected_chars = pd.DataFrame()
for i, c in chars.iterrows():
    print(get_char_name(c))
    selected_chars = pd.concat([selected_chars, c], ignore_index=True)
    if i == 4:
        chars.drop(i)
    if i > 10:
        break
selected_chars
print(chars)

In [21]:
def show_chars_in_brief(chars:pd.DataFrame, selected_chars, width=100):
    # chars = Dataframe
    if type(selected_chars) != list:
        selected_chars = [selected_chars]
    col_num = 4
    cnt = 0
    element_list = ['화', '빙', '풍', '토', '뇌', '수', '명', '암']
    chars_on_element = {}
    for e in element_list:
        #속성별로 나누어 담는다.
        chars_on_element[e] = chars[(chars['char_element']==e) 
                                    & (chars['char_main_job_class_alias'].isin(selected_chars))]
    for e in element_list:
        if len(chars_on_element[e]):
            print(f"for {e}", "-"*50)
            print(chars_on_element[e]['char_trsl_name'])

In [24]:
show_chars_in_brief(chars, "글로브")

for 화 --------------------------------------------------
26       케프카
72    로이 머스탱
Name: char_trsl_name, dtype: object
for 뇌 --------------------------------------------------
40    헬레나(수영복)
Name: char_trsl_name, dtype: object

In [3]:
import configparser
config = configparser.ConfigParser()
config.read("./ignore/config.ini")
ffbe_config = config['ffbe']
print(ffbe_config)

<Section: ffbe>

In [4]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import mysql.connector
import configparser
import pandas as pd

config = configparser.ConfigParser()
config.read("./ignore/config.ini")
ffbe_config = config['ffbe']
print(ffbe_config)

def connect_db():
    db_connection = mysql.connector.connect(
    host=ffbe_config['host'],
    user=ffbe_config['user'],
    password=ffbe_config['password'],
    database=ffbe_config['database'])
    return db_connection

<Section: ffbe>

In [14]:
for i in config.items():
    print(i[0])
sections = [i[0] for i in config.items()]
print(sections)

DEFAULT
ffbe
POKE_ACCS
['DEFAULT', 'ffbe', 'POKE_ACCS']

In [8]:
conn = connect_db()
cursor = conn.cursor()
cursor.execute("show tables")
print(cursor.fetchall())

[('char_list',), ('char_list_for_update',), ('class_list',), ('job_list',), ('job_list_for_update',), ('operation_list',), ('test_tb',), ('user_log',), ('vc_for_job_for_update_list',), ('vc_for_job_list',), ('version_info',)]

In [17]:
selected_db_config = config['ffbe']

param_list = ["host", "user", "password", "database"]
params = {p:selected_db_config[p] for p in param_list}
# db_connection = mysql.connector.connect(**params)
params

{'host': '146.56.43.43',
 'user': 'ffbemaster',
 'password': 'aksaksgo1!',
 'database': 'ffbe'}

In [25]:
def test(a, b, c, host):
    print(a, b, c, host)

In [5]:
import os
file_path = './data/'
print(os.path.isfile(file_path))

False

In [9]:
import re
def extract_and_add_one(input_string):
    def add_one(match):
        number = int(match.group(1))
        return str(number + 1)
    pattern = r'\((\d+)\)'
    result = re.sub(pattern, add_one, input_string)
    return result

In [10]:
test = "fdsafjkd(3232), (323), (11)"
print(extract_and_add_one(test))

fdsafjkd3233, 324, 12

In [4]:
table_name = 'char_list'
sql = f"SHOW COLUMNS FROM {table_name}"
data = fetch_data_from_db(sql)
col_names = [c[0] for c in data]
print(col_names)

['seq', 'char_name', 'char_jp_name', 'char_trsl_name', 'char_g8_link', 'char_img_src', 'char_eval', 'char_rarity', 'char_element', 'char_element_img_src', 'char_main_job', 'char_main_job_class', 'char_main_job_class_alias', 'char_sub_job1', 'char_sub_job2']

In [7]:
a = 3 if True else 2
a

3

In [8]:
import pandas as pd
df = pd.read_excel("./data/test_tb.xlsx")
print(df)

    seq  vc_name    vc_trsl_name     vc_jp_name  \
0     1      NaN  타케의 받음은 훨씬 멀다.            aaa
1     2      NaN        빛나는 여름 굴       빛나는 여름 굴
2     3      NaN    마해왕자 사하긴 프린스   마해왕자 사하긴 프린스
3     4      NaN         피가 묻은 길        피가 묻은 길
4     5      NaN      엘시레일 단독 임무     엘시레일 단독 임무
5     6      NaN      살아가는 양과 함께     살아가는 양과 함께
6     7      NaN    투격 맹우 미노타우로스   투격 맹우 미노타우로스
7     8      NaN             실드라            실드라
8     9      NaN       비룡에 대한 생각      비룡에 대한 생각
9    10      NaN      세상을 바꾸기 위해     세상을 바꾸기 위해
10   11      NaN   마군 장수 그레이트 데몬  마군 장수 그레이트 데몬
11   12      NaN       글로무스 집 여행      글로무스 집 여행
12   13      NaN          삼투신의 힘         삼투신의 힘
13   14      NaN   나가수 뇌아 마스터 쿠알  나가수 뇌아 마스터 쿠알
14   15      NaN          이계의 공투         이계의 공투
15   16      NaN    형제와 유대를 맺는 자   형제와 유대를 맺는 자
16   17      NaN   형제의 유대를 지키는 자  형제의 유대를 지키는 자
17   18      NaN    형제의 유대를 믿는 자   형제의 유대를 믿는 자
18   19      NaN      거룩한 밤에 소원을     거룩한 밤에 소원을
19   20      NaN       와류 손톱을 갈아      와류 손톱을 갈아
20   21      NaN      새로운 운명의 기어     새로운 운명의 기어
21   22      NaN              영웅             영웅
22   23      NaN             추적자            추적자
23   24      NaN      시로가네 색의 추억     시로가네 색의 추억
24   25      NaN       나이트메어 할로윈      나이트메어 할로윈
25   26      NaN         계승되는 의지        계승되는 의지
26   27      NaN       동방에서 호른까지      동방에서 호른까지
27   28      NaN      신원을 만지는 악마     신원을 만지는 악마
28   29      NaN         기수일의 만남        기수일의 만남
29   30      NaN          나타난 강적         나타난 강적
30   31      NaN          불길을 넘어         불길을 넘어
31   32      NaN       폭식이 나타납니다      폭식이 나타납니다
32   33      NaN          즐거움 시간         즐거움 시간
33   34      NaN           요염 마녀          요염 마녀
34   35      NaN       명탐정 리렐 리라      명탐정 리렐 리라
35   36      NaN         오랜만의 휴가        오랜만의 휴가
36   37      NaN        폭탄 총알 폭탄       폭탄 총알 폭탄
37   38      NaN         剛力鬼人 오거        剛力鬼人 오거
38   39      NaN        거대한 괴조 주       거대한 괴조 주
39   40      NaN     마안광선 플로 타이볼    마안광선 플로 타이볼
40   41      NaN       순간 천본 선인장      순간 천본 선인장
41   42      NaN        다인베르크 교회       다인베르크 교회
42   43      NaN           웨즈엣 성          웨즈엣 성
43   44      NaN           페네스 성          페네스 성
44   45      NaN            호른 성           호른 성
45   46      NaN          리오니스 성         리오니스 성
46   47      NaN      크리스탈 교회 깃발     크리스탈 교회 깃발
47   48      NaN          웨즈엣 국기         웨즈엣 국기
48   49      NaN         페네스 플래그        페네스 플래그
49   50      NaN           호른 깃발          호른 깃발
50   51      NaN         리오니스 국기        리오니스 국기

                             vc_g8_link  \
0   https://game8.jp/geneisensou/541650
1   https://game8.jp/geneisensou/541649
2   https://game8.jp/geneisensou/539785
3   https://game8.jp/geneisensou/539775
4   https://game8.jp/geneisensou/537199
5   https://game8.jp/geneisensou/534098
6   https://game8.jp/geneisensou/526184
7   https://game8.jp/geneisensou/525189
8   https://game8.jp/geneisensou/524036
9   https://game8.jp/geneisensou/522047
10  https://game8.jp/geneisensou/521382
11  https://game8.jp/geneisensou/519074
12  https://game8.jp/geneisensou/513255
13  https://game8.jp/geneisensou/511441
14  https://game8.jp/geneisensou/509108
15  https://game8.jp/geneisensou/506880
16  https://game8.jp/geneisensou/506462
17  https://game8.jp/geneisensou/505449
18  https://game8.jp/geneisensou/504396
19  https://game8.jp/geneisensou/501228
20  https://game8.jp/geneisensou/497162
21  https://game8.jp/geneisensou/493942
22  https://game8.jp/geneisensou/492428
23  https://game8.jp/geneisensou/489183
24  https://game8.jp/geneisensou/487246
25  https://game8.jp/geneisensou/485773
26  https://game8.jp/geneisensou/482186
27  https://game8.jp/geneisensou/480705
28  https://game8.jp/geneisensou/479656
29  https://game8.jp/geneisensou/477797
30  https://game8.jp/geneisensou/467998
31  https://game8.jp/geneisensou/301637
32  https://game8.jp/geneisensou/301638
33  https://game8.jp/geneisensou/301639
34  https://game8.jp/geneisensou/301640
35  https://game8.jp/geneisensou/301641
36  https://game8.jp/geneisensou/301642
37  https://game8.jp/geneisensou/301643
38  https://game8.jp/geneisensou/301644
39  https://game8.jp/geneisensou/301645
40  https://game8.jp/geneisensou/301646
41  https://game8.jp/geneisensou/301647
42  https://game8.jp/geneisensou/301648
43  https://game8.jp/geneisensou/301649
44  https://game8.jp/geneisensou/301650
45  https://game8.jp/geneisensou/301651
46  https://game8.jp/geneisensou/301652
47  https://game8.jp/geneisensou/301653
48  https://game8.jp/geneisensou/301654
49  https://game8.jp/geneisensou/301655
50  https://game8.jp/geneisensou/301656

                                           vc_img_src  검1  검2  검3  지팡이1  ...  \
0   https://img.game8.jp/8433390/bf48265b4e7034991...   0   0   0     0  ...
1   https://img.game8.jp/8433366/56c2318db0ad601cf...   0   0   0     0  ...
2   https://img.game8.jp/8378117/0768b1b04c1404732...   1   0   0     0  ...
3   https://img.game8.jp/8378156/07abc8beb1a9891f0...   0   0   1     0  ...
4   https://img.game8.jp/8229107/bf83dde4914987f13...   0   0   0     0  ...
5   https://img.game8.jp/8172868/ca520efa4bb343774...   0   0   0     0  ...
6   https://img.game8.jp/8029218/4d6fae4744ecaff6f...   0   1   0     1  ...
7   https://img.game8.jp/7976840/1d1ca6c5405b29bf0...   1   0   0     0  ...
8   https://img.game8.jp/7961946/aea24896068536511...   0   1   1     0  ...
9   https://img.game8.jp/7952779/150320a91d95b590d...   0   1   0     1  ...
10  https://img.game8.jp/7911111/b09ece4eff89a86de...   0   0   0     1  ...
11  https://img.game8.jp/7907452/96dd9e8c70b3fa180...   1   0   0     0  ...
12  https://img.game8.jp/7781110/6e1733d38f1a4ae17...   0   1   0     0  ...
13  https://img.game8.jp/7728475/23a15880f465465c4...   0   0   0     1  ...
14  https://img.game8.jp/7709934/d55fa5ae3ea06de89...   1   0   1     0  ...
15  https://img.game8.jp/7634511/c61e0065de1044730...   0   0   1     0  ...
16  https://img.game8.jp/7668521/5ae8d8d7c0759ddc0...   1   0   0     0  ...
17  https://img.game8.jp/7572341/9dad176b58421b6e6...   0   0   0     0  ...
18  https://img.game8.jp/7552626/3ce8200d40a17db51...   0   0   0     0  ...
19  https://img.game8.jp/7526832/26fad1d31744ed5f4...   0   0   0     0  ...
20  https://img.game8.jp/7473164/203cee7b885e6b916...   0   1   0     1  ...
21  https://img.game8.jp/7440617/d4e322cd199b2f6b0...   1   0   0     0  ...
22  https://img.game8.jp/7419308/d0c176821fd59ae54...   0   0   0     0  ...
23  https://img.game8.jp/7336966/9bc4458deb18ecaab...   0   0   0     0  ...
24  https://img.game8.jp/7319916/e8ecdf97b4e3f088e...   0   0   0     1  ...
25  https://img.game8.jp/7287747/d04ef4c09f66c5337...   0   0   1     0  ...
26  https://img.game8.jp/7244502/5d55eea460b48dc69...   0   0   0     0  ...
27  https://img.game8.jp/7221142/c1fd490affc6ce5db...   0   0   0     0  ...
28  https://img.game8.jp/7196938/2cfb6a4f56be3f426...   0   1   0     0  ...
29  https://img.game8.jp/7146507/e95f527d3968b4960...   0   0   0     0  ...
30  https://img.game8.jp/8229220/a5189b60ebf419761...   0   0   0     1  ...
31  https://img.game8.jp/3833972/01f4cb7a2fc3bd4f5...   0   1   0     0  ...
32  https://img.game8.jp/3833929/2955bc2477db82f9f...   0   0   0     0  ...
33  https://img.game8.jp/3833974/bea194a524f400775...   0   0   1     1  ...
34  https://img.game8.jp/3833975/929c77935d18a068f...   0   0   1     1  ...
35  https://img.game8.jp/3833939/b7179e324f7f2bf4a...   0   0   0     0  ...
36  https://img.game8.jp/3833949/fac8dc72cc4cae577...   0   1   0     0  ...
37  https://img.game8.jp/3833923/6377dd092cb01d7c8...   1   0   0     0  ...
38  https://img.game8.jp/3833927/7e22dc9ddab44e75d...   1   0   0     0  ...
39  https://img.game8.jp/3833941/d92446a3f24550f21...   0   1   0     0  ...
40  https://img.game8.jp/3833934/4615464d4ac1efd4f...   0   0   1     1  ...
41  https://img.game8.jp/3833944/3c17152316fe893eb...   0   0   1     1  ...
42  https://img.game8.jp/3833925/abdc92a9ad2c0a47f...   0   0   0     0  ...
43  https://img.game8.jp/3833950/77c31f6ff7c0b5530...   0   0   0     0  ...
44  https://img.game8.jp/3833946/cb0be1c484014f114...   1   0   0     0  ...
45  https://img.game8.jp/3833948/97bfb8e6e0da637de...   0   1   0     0  ...
46  https://img.game8.jp/3833959/90881b1c1f014e3ce...   0   0   1     1  ...
47  https://img.game8.jp/3833926/fe050bf848ed6dca5...   0   0   0     0  ...
48  https://img.game8.jp/3833943/4decb509f0a456409...   1   0   0     0  ...
49  https://img.game8.jp/3833945/1cfd783a08ad214bb...   1   0   0     0  ...
50  https://img.game8.jp/3833947/8ace4e95b50e2045d...   0   1   0     0  ...

    활  총  주먹  단검  닌자  도검  메이스  글로브  책  부메랑
0   0  0   0   0   1   0    0    0  0    0
1   0  1   0   1   0   0    0    0  1    0
2   1  0   0   0   0   0    0    0  0    0
3   0  1   0   0   0   0    1    0  0    0
4   0  0   0   1   0   1    0    0  1    0
5   0  0   1   0   0   0    0    1  0    0
6   0  0   0   1   0   0    0    0  0    0
7   0  0   0   0   1   0    0    0  0    0
8   0  0   0   0   0   0    0    0  0    0
9   0  0   0   0   0   0    0    0  0    0
10  0  0   0   1   0   1    1    0  0    0
11  0  0   0   0   0   1    0    1  1    0
12  0  0   0   0   1   0    0    1  0    0
13  0  0   0   0   1   0    0    0  0    0
14  0  1   0   0   0   0    0    0  0    0
15  0  0   1   0   0   0    1    0  0    0
16  1  0   0   0   1   0    0    1  0    0
17  0  0   1   0   0   0    0    0  0    0
18  0  0   0   0   0   1    0    0  1    0
19  0  0   0   1   0   0    1    0  0    0
20  0  0   0   0   1   0    0    0  0    0
21  0  0   0   0   0   1    0    0  0    0
22  0  1   0   0   0   0    1    1  0    0
23  0  0   0   0   0   0    0    1  1    0
24  0  0   0   0   0   0    0    0  1    0
25  0  0   1   0   0   0    1    0  0    0
26  0  1   1   0   0   0    1    0  0    0
27  0  0   0   0   0   0    0    1  1    0
28  0  0   0   0   0   0    1    0  0    0
29  1  0   1   0   0   0    0    1  0    0
30  0  1   1   0   0   0    0    0  0    0
31  1  1   0   0   0   0    0    0  0    0
32  0  0   1   1   1   0    0    0  0    0
33  0  0   0   0   0   0    1    1  1    0
34  0  0   0   0   0   0    1    1  1    0
35  0  0   1   1   1   0    0    0  0    0
36  1  1   0   0   0   0    0    0  0    0
37  0  0   0   0   0   0    0    0  0    0
38  0  0   0   0   0   0    0    0  0    0
39  1  1   0   0   0   0    0    0  0    0
40  0  0   0   0   0   0    1    1  1    0
41  0  0   0   0   0   0    1    1  1    0
42  0  0   1   1   1   0    0    0  0    0
43  0  0   1   1   1   0    0    0  0    0
44  0  0   0   0   0   0    0    0  0    0
45  1  1   0   0   0   0    0    0  0    0
46  0  0   0   0   0   0    1    1  1    0
47  0  0   1   1   1   0    0    0  0    0
48  0  0   0   0   0   0    0    0  0    0
49  0  0   0   0   0   0    0    0  0    0
50  1  1   0   0   0   0    0    0  0    0

[51 rows x 24 columns]

In [20]:
for i, d in df.iterrows():
    print(d['vc_trsl_name'])
    break

타케의 받음은 훨씬 멀다.

In [33]:
sql = """UPDATE char_list SET order = 1 where trsl_name = '세피로스'
"""
fetch_data_from_db(sql)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'order = 1 where trsl_name = '세피로스'' at line 1